.bolden{
    font-weight: bold;
    font-size: xx-large;
}
.my_image{
    height: 100px;
    width: 150px;
    border-radius: 70px;
    
    
}
.infoimage{
    display: flex;
    justify-content: space-between;
}
.message{
    font-size: 30px;
}
.hello{
    background-color: rgb(156, 68, 36);
}
.aboutme{
    text-align: center;
}
.mycard{
    background-color: rgb(156, 68, 36);
    border-radius: 30px;
    margin: 50px;
}
@media(min-width:768px){
    .news-input{
        width: 50%
    }
}
