.bolden{
    font-weight: bold;
}
.my_image{
    height: 100px;
    width: 150px;
    border-radius: 70px;
    
    
}
.infoimage{
    display: flex;
    justify-content: space-between;
}
.message{
    font-size: 500pxr;
}
.hello{
    background-color: rgb(156, 68, 36);
}